body {
	margin: 0;
} 

A {
	color: inherit;
    text-decoration: none;
}

A:hover { 
    text-decoration: underline;
} 

#panel1 {
	height: 20px;
	padding: 10px;
	padding-left: 200px;
	padding-right: 200px;
	background: #4D4D4D;
	text-shadow: 0px 1px 0;
}

#panel1-label {
	float: left;
}

#panel1-buttons {
	text-align: right;
}

#panel2 {
	height: 20px;
	padding: 10px;
	padding-left: 200px;
	padding-right: 200px;
	background: #D9D9D9;
}

#panel2-label {
	float: left;
}

#panel2-buttons {
	text-align: right;
}

#content {
	height: 100%;
	padding: 30px;
	padding-left: 200px;
	padding-right: 200px;
	background: #F7F7F7;
}